@font-face {
    font-family: MilkMango;
    src: url("../fonts/MilkMango.ttf");
}
html {
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
}
header {
    margin: 20px 0 10px 0;
    text-align: center;
    font-family: MilkMango;
    font-size: 70px;
    color: #ccc;
}
#game {
    display: inline-flex;
}
.player {
    font-family: MilkMango;
    color: #ccc;
    font-size: 20px;
    text-align: center;
    margin: 0 120px 0 150px;
}
.grid {
    width: 600px;
    height: 600px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}
#grid-wrapper {
    background-color: #656565;
    height: min-content;
    margin-top: 50px;
}
.grid > div {
    background-color: rgb(21, 21, 21);
}
.grid > div:hover {
    background-color: rgb(45, 45, 45);
    cursor: pointer;
}
.grid > div.disabled {
    cursor: not-allowed;
}
.cross {
    background: url("../images/cross.svg") center no-repeat;
}
.circle {
    background: url("../images/circle.svg") center no-repeat;
}
footer {
    margin-top: 30px;
    text-align: center;
}
#start, #stop, #demo {
    border: 0;
    margin: 0 20px;
    font-family: "Open Sans";
}
#input, #hidden, #output {
    position: absolute;
    font-family: "Open Sans";
    color: #ffb108;
    font-size: 20px;
    top: 60px;
    font-weight: bold;
    text-align: center;
}
#input {
    left: 10px;
    width: 70px;
}
#hidden {
    left: 228px;
}
#output {
    left: 500px;
}
#powered {
    margin-top: 40px;
    text-align: center;
    color: #ccc;
    font-size: 20px;
    font-family: "Open Sans";
    position: relative;
}
#powered img {
    height: 20px;
    position: relative;
    top: 3px;
    margin-left: 5px;
}
#start {
    margin-top: 50px;
}
.player > h2 {
    margin-bottom: 10px;
}
.player > h2 > img {
    height: 27px;
    margin-left: 5px;
}
button, select {
    font-family: "Open Sans";
    font-size: 20px;
}
select {
    padding: 4px 7px;
    border-radius: 5px;
}
button {
    padding: 6px 12px;
    border-radius: 5px;
}
#by {
    text-align: center;
    font-family: "Open Sans";
    color: #ccc;
    font-size: 20px;
    margin-bottom: 30px;
}
#player1-status, #player2-status {
    font-family: MilkMango;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 85px;
    color: #f00;
    height: 30px;
}
#network {
    position: relative;
}
#network > img.network-background {
    width: 600px;
}
#network > img:not(.network-background) {
    position: absolute;
    width: 57px;
    opacity: 0;
}
#network > img[data-layer="0"][data-neuron="0"] {
    left: 17px;
    top: 252px;
}
#network > img[data-layer="0"][data-neuron="1"] {
    left: 17px;
    top: 286px;
}
#network > img[data-layer="0"][data-neuron="2"] {
    left: 17px;
    top: 321px;
}
#network > img[data-layer="0"][data-neuron="3"] {
    left: 17px;
    top: 355px;
}
#network > img[data-layer="0"][data-neuron="4"] {
    left: 17px;
    top: 391px;
}
#network > img[data-layer="0"][data-neuron="5"] {
    left: 17px;
    top: 428px;
}
#network > img[data-layer="0"][data-neuron="6"] {
    left: 17px;
    top: 463px;
}
#network > img[data-layer="0"][data-neuron="7"] {
    left: 17px;
    top: 498px;
}
#network > img[data-layer="0"][data-neuron="8"] {
    left: 17px;
    top: 532px;
}
#network > img[data-layer="1"][data-neuron="0"] {
    left: 188px;
    top: 148px;
}
#network > img[data-layer="1"][data-neuron="1"] {
    left: 188px;
    top: 183px;
}
#network > img[data-layer="1"][data-neuron="2"] {
    left: 189px;
    top: 218px;
}
#network > img[data-layer="1"][data-neuron="3"] {
    left: 189px;
    top: 251px;
}
#network > img[data-layer="1"][data-neuron="4"] {
    left: 188px;
    top: 289px;
}
#network > img[data-layer="1"][data-neuron="5"] {
    left: 189px;
    top: 323px;
}
#network > img[data-layer="1"][data-neuron="6"] {
    left: 189px;
    top: 358px;
}
#network > img[data-layer="1"][data-neuron="7"] {
    left: 189px;
    top: 391px;
}
#network > img[data-layer="1"][data-neuron="8"] {
    left: 189px;
    top: 427px;
}
#network > img[data-layer="1"][data-neuron="9"] {
    left: 189px;
    top: 460px;
}
#network > img[data-layer="1"][data-neuron="10"] {
    left: 188px;
    top: 499px;
}
#network > img[data-layer="1"][data-neuron="11"] {
    left: 188px;
    top: 531px;
}
#network > img[data-layer="1"][data-neuron="12"] {
    left: 188px;
    top: 565px;
}
#network > img[data-layer="1"][data-neuron="13"] {
    left: 188px;
    top: 600px;
}
#network > img[data-layer="1"][data-neuron="14"] {
    left: 189px;
    top: 636px;
}
#network > img[data-layer="2"][data-neuron="0"] {
    left: 358px;
    top: 219px;
}
#network > img[data-layer="2"][data-neuron="1"] {
    left: 358px;
    top: 253px;
}
#network > img[data-layer="2"][data-neuron="2"] {
    left: 358px;
    top: 288px;
}
#network > img[data-layer="2"][data-neuron="3"] {
    left: 358px;
    top: 322px;
}
#network > img[data-layer="2"][data-neuron="4"] {
    left: 358px;
    top: 358px;
}
#network > img[data-layer="2"][data-neuron="5"] {
    left: 358px;
    top: 393px;
}
#network > img[data-layer="2"][data-neuron="6"] {
    left: 358px;
    top: 428px;
}
#network > img[data-layer="2"][data-neuron="7"] {
    left: 358px;
    top: 463px;
}
#network > img[data-layer="2"][data-neuron="8"] {
    left: 358px;
    top: 497px;
}
#network > img[data-layer="2"][data-neuron="9"] {
    left: 358px;
    top: 531px;
}
#network > img[data-layer="2"][data-neuron="10"] {
    left: 358px;
    top: 568px;
}
#network > img[data-layer="3"][data-neuron="0"] {
    left: 525px;
    top: 250px;
}
#network > img[data-layer="3"][data-neuron="1"] {
    left: 525px;
    top: 285px;
}
#network > img[data-layer="3"][data-neuron="2"] {
    left: 525px;
    top: 320px;
}
#network > img[data-layer="3"][data-neuron="3"] {
    left: 525px;
    top: 354px;
}
#network > img[data-layer="3"][data-neuron="4"] {
    left: 525px;
    top: 391px;
}
#network > img[data-layer="3"][data-neuron="5"] {
    left: 525px;
    top: 425px;
}
#network > img[data-layer="3"][data-neuron="6"] {
    left: 525px;
    top: 460px;
}
#network > img[data-layer="3"][data-neuron="7"] {
    left: 525px;
    top: 495px;
}
#network > img[data-layer="3"][data-neuron="8"] {
    left: 525px;
    top: 530px;
}
