@font-face {
    font-family: MilkMango;
    src: url("../fonts/MilkMango.ttf");
}
html {
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
}
header {
    margin: 20px 0;
    text-align: center;
    font-family: MilkMango, serif;
    font-size: 75px;
    color: #ccc;
}
#game {
    display: inline-flex;
}
.player {
    font-family: MilkMango, serif;
    color: #ccc;
}
.grid {
    width: 600px;
    height: 600px;
    margin: 0 30px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}
.grid > div:not(.disabled) {
    background-color: #ccc;
}
.grid > div:hover:not(.disabled) {
    background-color: #eee;
    cursor: pointer;
}
.grid > div.disabled {
    background-color: #555;
    cursor: not-allowed;
}
.cross {
    background: url("../images/cross.svg") center no-repeat;
}
.circle {
    background: url("../images/circle.svg") center no-repeat;
}
footer {
    margin-top: 20px;
    text-align: center;
}
#start, #stop {
    border: 0;
    margin: 0 20px;
    padding: 10px 20px;
    font-family: MilkMango, serif;
}
#info {
    text-align: center;
    color: #ffb108;
    margin: 10px 0;
    font-size: 20px;
    font-family: MilkMango, serif;
}
